[submodule "public"]
	path = public
	url = git@github.com:xguardi/xguardi.github.io.git
	branch = master
[submodule "themes/cocoa"]
	path = themes/cocoa
	url = https://github.com/nishanths/cocoa-hugo-theme.git
